/*colors*/
:root {
  --color-hype-bg-header: #3a546d;
  --color-hype-bg-footer: #2c3e50;
}

.hype-bg-header {
  background-color: var(--color-hype-bg-header)
}

.hype-bg-footer {
  background-color: var(--color-hype-bg-footer);
}

.hype-text-light-green {
  color: #1ABC9C;
}

.hype-light-green {
  background-color: #1ABC9C;
}

.hype-bg-footer-bottom {
  background-color: var(--color-hype-bg-footer)
}

/*DOCUMENT*/

.white-star::after,
.white-star::before {
  content: '';
  display: block;
  margin: 0 15px;
  width: 18%;
  height: 4px;
  background-color: white;
}

.black-star::after,
.black-star::before {
  content: '';
  display: block;
  margin: 0 15px;
  width: 18%;
  height: 4px;
  background-color: black;
}

.hype-container-70x100 {
  width: 70%;
}

.hype-pointer:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/*Navbar*/

header #portfolio-nav a.nav-link,
header nav a.navbar-brand {
  color: white;
}

header #portfolio-nav a.nav-link:hover,
header nav a.navbar-brand:hover {
  color: #1ABC9C;
}

/*SECTION: Hero*/

#hero .avatar-container {
  width: 250px;
}

/*SECTION: Contact*/


#contact form .form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  /*potevo darlo direttamente con bootstrap ma ho preferito in questo modo*/
}

#contact form .btn:hover {
  background-color: rgb(26, 188, 156, 0.9);
  box-shadow: black 1px 1px 10px;
}


/*FOOTER*/
footer #footer-top .icon-container {
  width: 50px;
  height: 50px;
  min-width: 50px;
}



.hype-card::after {}


/* a 768 cambia tutto in colonna*/